<aside class="sidebar">

  <div class="brand">
    <div class="brand-title">VMS</div>
    <div class="brand-subtitle">Visitor Management</div>
  </div>

  <nav class="navigation">

    <a
  routerLink="/visitor-registration"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-item"
    >
        <span class="nav-icon">✚</span>
        <span>Pre-Registration</span>
    </a>

    <a
  routerLink="/admin/visitors"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-item"
>
        <span class="nav-icon">♙</span>
        <span>Visitors</span>
    </a>

    <a href="#" class="nav-item">
      <span class="nav-icon">▣</span>
      <span>Visits</span>
    </a>

    <a href="#" class="nav-item">
      <span class="nav-icon">⊘</span>
      <span>Blacklist</span>
    </a>

    <a href="#" class="nav-item">
      <span class="nav-icon">♙</span>
      <span>Employees</span>
    </a>

    <a href="#" class="nav-item">
      <span class="nav-icon">▦</span>
      <span>Departments</span>
    </a>

    <a href="#" class="nav-item">
      <span class="nav-icon">▥</span>
      <span>Reports</span>
    </a>


  </nav>

</aside>